<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	
		<h1>Edit Category Form </h1>

	<form th:object="${category}" th:action="@{/categories/update}" method="post">
	<fieldset>
	
	<legend>Insert Category here</legend>
	<input type="hidden" th:field="*{id}" th:value="${category.id}">
	<div>
	<label>Category Name</label>
	<input type="text" th:field="*{name}" >
	<input type="submit" value="Submit"/>
	</div>
	</fieldset>
	
	
	
	
	
	
	
	</form>

</body>
</html>