<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div style="float:left; border:1px solid purple">
	
		<div><a th:href="@{/categories}">All Categories</a>	</div>
		<div><a th:href="@{/categories/new}">Add Category</a>	</div>
	
	</div>
	<div style="border:1px solid purple">
	
		<div><a th:href="@{/products}">All Products</a>	</div>
		<div><a th:href="@{/products/new}">Add product</a>	</div>
		
	
	</div>

</body>
</html>