<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div><a th:href="@{/products/new}">Add New Product</a></div>
<table style="border: 1px solid purple">

<th:block th:each="product : ${products}">
	<tr>
		<td th:text="${product.id}"></td>
		<td th:text="${product.name}"></td>
		<td th:text="${product.price}"></td>
		<td th:text="${product.description}"></td>
		<td th:text="${product.category.name}"></td>
		<td><img th:src="@{${product.filename}}"></td>
		<td> <a th:href="@{'/products/edit_form/' +${product.id}}">Edit</a></td>
		<td> <a th:href="@{'/products/delete/' +${product.id}}">Delete</a></td>
	</tr>
</th:block>
</table>


</body>
</html>