<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	
	<form th:object="${product}" th:action="@{/products/save}" method="post">
	<fieldset>
	<input type="hidden" th:field="*{id}" th:value="${product.id}">
	<legend>Insert Product here</legend>
	<div>
	<label>Product Name</label>
	<input type="text" th:field="*{name}" ><br>
	<label>Product Name</label>
	<input type="number"  th:field="*{price}"> <br>
	<label>Product Name </label>
	<textarea th:field="*{description}" rows="2" cols="50"/><br>
	<label>Product Category</label>
	<select th:field="*{category}">
	<th:block th:each="category : ${categories}">
		<option th:text="${category.name}" th:value="${category.id}"></option>	
	
	</select>
	
	<input type="submit" value="Submit"/>
	</div>
	</fieldset>
	
	
	
	
	
	
	
	</form>

</body>
</html>